@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.demand-services{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.demand-services:hover{
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
}
/* styles.css or index.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
